//============================================//
// Variables de exto
//============================================//

//Fuentes
$font-familiy-heading: "Big Shoulders", sans-serif;
$font-familiy-text: "Outfit", sans-serif;

//Tamaños de texto base
$font-size-base: 22px; // 1rem

//Tamaños de texto
$font-size-heading-xxl: 6.5rem;
$font-size-heading-xl: 4.5rem;
$font-size-heading-l: 3.5rem;
$font-size-heading-m: 2.5rem;
$font-size-heading-s: 1.5rem;
$font-size-body-xl: 1.5rem;
$font-size-body-l: 1.25rem;
$font-size-body-m: $font-size-base;
$font-size-body-s: 0.75rem;

//Grosores de texto
$font-weight-heading: 900;
$font-weight-text: 300;

//Spacing de texto
$line-spacing-heading-xxl: 6rem;
$line-spacing-heading-xl: 5rem;
$line-spacing-heading-l: 3.5rem;
$line-spacing-heading-m: 2.5rem;
$line-spacing-heading-s: 1.5rem;
$line-spacing-body-l: 2rem;
$line-spacing-body-m: 1.5rem;
$line-spacing-body-s: 1.25rem;
